#root {
  margin: 0 auto;
  text-align: center;
}
.custom-header h1 {
  color: #333333;  /* dark text color */
}

.custom-header {
  background-color: #D2B48C;  /* tan color */
  padding: 20px;
  color: #333333;  /* dark text color */
}

.custom-footer {
  background-color: #D2B48C;  /* tan color */
  padding: 20px;
  color: #333333;  /* dark text color */
}


