#root {
  margin: 0 auto;
  text-align: center;
}
.custom-header h1 {
  color: #333333;  /* dark text color */
}

.custom-header {
  padding: 20px;
  color: transparent 
}

.custom-footer {
  padding: 20px;
  color: #000000;  /* dark text color */
}

/* set a backround image for the whole page */
.app {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url('flow-top.svg');
  color: aliceblue;
}


.btn {
  padding: .45rem 1.5rem .35rem;
}


